include ../header.jade
div.container
  h1 Projects (#{projects.length})
  div.row
    div.sidebar.col-md-2
    div.col-md-10
      ul.project-list
        each project in projects
          li.project-summary
            a(href='projects/detail/#{project._id}')
              img(src="http://branch.qlik.com/projects/images/qlik/thread/thumbnails/"+project.threadid.split("").join("/")+"/thumb_1.png" onerror="this.src = 'http://branch.qlik.com/projects/images/qlik/thread/thumbnails/default/1.jpg'")        
              h1 #{project.title}
              h2 #{project.userid.username}
              h3 #{project.userid.field18}
              p #{project.short_description}
          
            
