doctype html
html(ng-app="branch")
  head
    title("Qlik Branch")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css")
    link(rel="stylesheet", href="/css/main.css")    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js")    
    script(src="/node_modules/marked/marked.min.js")
    script(src="/js/app.js")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body    
    notifications-bar.notifications.notifications-container
    div.header
      div.container        
        button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div.logo
          a(href="#/") Home          
        div#navbar.navbar-collapse.collapse          
          ul.nav.navbar-nav.navbar-right.navbar-links            
            if isAuthenticated
              li.dropdown
                a.dropdown-toggle.green(
                    href="#" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-expanded="false" 
                    data-count=notificationCount||""
                  ) #{user.username}
                  span.caret
                ul.dropdown-menu(role="menu")
                  if user.role.name != "user"
                    li
                      a(ui-sref="admin") Admin Console
                    li
                      a(ui-sref="profile") Profile
                    li
                      a(ui-sref="projects.new") Create Project
                  li
                    a(href="/auth/logout") Logout
            else     
              li.green
                a(ui-sref="loginsignup") Login/Signup    
            li
              a(href="http://market.qlik.com" target="_window") Qlik Market
            li
              a(href="http://community.qlik.com" target="_window") Qlik Community            
            li
              a(href="http://www.qlik.com" target="_window") Qlik.com            
          ul.nav.navbar-nav.navbar-main            
            li
              a(href="#articles") Articles             
            li
              a(href="#projects") Projects
    div(ui-view)        
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
