doctype html
html(ng-app="branch" ng-strict-di)
  head
    base(href="#!")
    title(ng-bind="headTitle") Qlik Branch 
    meta(name="description" content="{{metaDesc}}")
    meta(name="keywords" content="{{metaKeys}}")
    meta(name="fragment" content="!")
    meta(name="og:title" content="{{headTitle}}")
    meta(name="og:description" content="{{metaDesc}}")
    meta(name="og:image" content="{{metaImage}}")
    meta(name="twitter:card" content="summary")
    if twitterHandle != ""
      meta(name="twitter:site" content=twitterHandle)
    meta(name="twitter:title" content="{{headTitle}}")
    meta(name="twitter:description" content="{{metaDesc}}")
    meta(name="twitter:image" content="{{metaImage}}")
    link(rel='apple-touch-icon', sizes='57x57', href='/resources/favicons/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/resources/favicons/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/resources/favicons/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/resources/favicons/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/resources/favicons/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/resources/favicons/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/resources/favicons/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/resources/favicons/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/resources/favicons/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/resources/favicons/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/resources/favicons/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/resources/favicons/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/resources/favicons/favicon-16x16.png')
    link(rel='manifest', href='/resources/favicons/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/resources/favicons/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css")    
    link(rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="/bower_components/visualcaptcha.angular/visualcaptcha.css")
    link(rel="stylesheet" href="/bower_components/simplemde/dist/simplemde.min.css")
    link(rel="stylesheet" href="/bower_components/dropzone/dist/dropzone.css")
    link(rel="stylesheet" href="/css/main.css")    
    script(src="https://use.typekit.net/rqj4zil.js")
    script(type='text/javascript').
      try{Typekit.load({ async: true });}catch(e){}
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/d3/d3.min.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js") 
    script(src="/bower_components/angular-sanitize/textAngular-sanitize.js")
    script(src="/node_modules/marked/marked.min.js")
    script(src="/bower_components/simplemde/dist/simplemde.min.js")
    script(src="/bower_components/dropzone/dist/dropzone.js")
    script(src="/qsocks/qsocks.bundle.js")
    if mode == "debug"
      script(src="/js/app.js")
    else
      script(src="/js/app.min.js")
      meta(content="text/html charset=utf-8" http-equiv="Content-Type")
      meta(name="viewport" content="width=device-width, initial-scale=1")
  body      
    script(type='text/javascript').
      var dataLayer = [{'site':'branch'}];
    // Google Tag Manager
    noscript
      iframe(src='//www.googletagmanager.com/ns.html?id=GTM-P7VJSX', height='0', width='0', style='display:none;visibility:hidden')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-P7VJSX');  
    confirm-dialog
    div(header)
    div.main(ui-view)
    div(footer)
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/bower_components/visualcaptcha.angular/visualcaptcha.angular.src.js")
    script(type='text/javascript').
      (function(d,w,g){var s=d.createElement(g),e=d.getElementsByTagName(g)[0];s.type='text/javascript';s.async=true;s.src='http://global.qlik.com/javascripts/cookieBanner.min.js';e.parentNode.insertBefore(s,e);})(document,window,'script');
    
