doctype html
html(ng-app="branch")
  head
    title("Qlik Partner Portal")
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.css")
    link(rel="stylesheet", href="/css/main.css")    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")
    script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")    
    script(src="/bower_components/angular-sanitize/angular-sanitize.js")
    script(src="/bower_components/ng-notifications-bar/dist/ngNotificationsBar.min.js")
    script(src="/js/app.js")
  body    
    notifications-bar.notifications.notifications-container
    div.header
      div.container        
        div.logo
          a(href="#/") Home
        ul.nav.navbar-nav.navbar-right.navbar-links
          li
            a(href="http://www.qlik.com" target="_window") Qlik.com
          li
            a(href="http://community.qlik.com" target="_window") Qlik Community
          li
            a(href="http://market.qlik.com" target="_window") Qlik Market
            if isAuthenticated
              li.dropdown
                a.dropdown-toggle.green(
                    href="#" 
                    data-toggle="dropdown" 
                    role="button" 
                    aria-expanded="false" 
                    data-count=notificationCount||""
                  ) #{user.username}
                  span.caret
                ul.dropdown-menu(role="menu")
                  if user.role.name != "user"
                    li
                      a(ui-sref="admin") Admin Console
                    li
                      a(ui-sref="profile") Profile
                    li
                      a(ui-sref="project.new") Create Project
                  li
                    a(href="/auth/logout") Logout
            else     
              li.green
                a(ui-sref="loginsignup") Login/Signup     
    div(ui-view)        
    div.footer
      div.container        
        div.foot-title
          span Qlik Branch
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
