include ./header.jade
div.container
  h1 #{resource.name}
  div
    label Author: 
      a(href="../user/#{resource.author._id}") #{resource.author.name || resource.author.name}
  div
    label Difficulty: 
    <span> Easy</span>
  div
    label Tags: 
    <span> javascript, mashup, mashup api, beginner</span>
  h3 #{resource.short_description}
  p #{resource.content}
include ./foot.jade 
