include ../header.jade
div.container
  form(action="/user/save", method="post")    
    if user.name
      h1 #{user.name}
    else
      h1 #{user.email}
    if mode == "edit"  
      label Name:
      input.form-control(name="name", type="text", placeholder="Name", value="#{user.name || ''}")
      label Email: 
      input.form-control(name="email", type="text", placeholder="Email", value="#{user.email}")
      label Bio:
      textarea.form-control(name="bio") #{user.bio || ''}
      button.btn.btn-success(type="submit") Save
    else
      label Bio:
      p #{user.bio}
      label Badges:
      p coming soon...
      label Branch Projects:
      p coming soon...
include ../foot.jade 
